html { width:100%; height:100%; }

body {
        position: relative;
        height: 100%;
        width: 100%;   
		
    	background: #4196C9;
		font-family: 'Titillium Web', sans-serif;
}

header { height:60px; background-color:black; }
header > * { float:left; color:white; }
header > img { max-height:90%; margin-top:4px; }
header > h1 { 
	margin-left:20px;
	line-height:60px;
	-webkit-margin-before:0;
	-webkit-margin-after:0;
}
header > div#nav { height:100%; margin-left:1.5em; line-height:60px; color:white; }

#chaine
{
height: 25%;
width: 100%;   
margin:0;
       	margin-left: 0px;
background: #FFFFFF;
}